body, html {
    margin: 0;
    padding: 0;
    height: 100%;
}

.fullscreen-bg {
    position: relative;
    width: 100%;
    height: 100vh;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
}

img {
    width: 100%;
    height: 100%;
    object-fit: contain;
}

.play-button {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    cursor: pointer;
    background-color: #3498db;
    color: #fff;
    padding: 15px 30px;
    border-radius: 5px;
    font-size: 1.5em;
    transition: background-color 0.3s;
}

.play-button:hover {
    background-color: #2980b9;
}